In [13]:
import pandas as pd

In [14]:
a = pd.read_csv('dags/processed_outpatient.csv', low_memory=False)

In [17]:
a.shape

(575092, 162)

In [15]:
a.head()

,BENE_ID,CLM_ID,NCH_NEAR_LINE_REC_IDENT_CD,NCH_CLM_TYPE_CD,CLM_FROM_DT,CLM_THRU_DT,NCH_WKLY_PROC_DT,FI_CLM_PROC_DT,CLAIM_QUERY_CODE,PRVDR_NUM,...,REV_CNTR_BENE_PMT_AMT,REV_CNTR_PTNT_RSPNSBLTY_PMT,REV_CNTR_PMT_AMT_AMT,REV_CNTR_TOT_CHRG_AMT,REV_CNTR_NCVRD_CHRG_AMT,REV_CNTR_STUS_IND_CD,REV_CNTR_NDC_QTY,REV_CNTR_NDC_QTY_QLFR_CD,RNDRNG_PHYSN_UPIN,RNDRNG_PHYSN_NPI
0,-10000010254618,-10000930037832,W,40,16-Mar-2015,16-Mar-2015,20-Mar-2015,NaN,3,01S023,...,0,2044.97,10224.89,8179.92,0.0,4,NaN,NaN,,9999995696
1,-10000010254618,-10000930037833,W,40,27-Apr-2015,27-Apr-2015,01-May-2015,NaN,3,01S023,...,0,2387.27,11936.39,9549.12,0.0,4,NaN,NaN,,9999995696
2,-10000010254618,-10000930037834,W,40,23-May-2015,23-May-2015,29-May-2015,NaN,3,01S023,...,0,1734.83,8674.15,6939.32,0.0,4,NaN,NaN,,9999995696
3,-10000010254618,-10000930037835,W,40,01-Jun-2015,01-Jun-2015,05-Jun-2015,NaN,3,01S023,...,0,234.31,154.14,192.67,0.0,4,NaN,NaN,,9999995696
4,-10000010254618,-10000930037836,W,40,14-Jun-2015,14-Jun-2015,19-Jun-2015,NaN,3,01S023,...,0,2265.44,11327.22,9061.78,0.0,4,NaN,NaN,,9999995696